.AuthHeader {
  font-size: 5vmin;
}

.LoginOrSignUp {
  text-align: center;
  margin: 30px 0px 0px 0px;
}

.AuthSubmit {
  margin: 2vmin 22vmin 0vmin 22vmin;
}

@media screen and (max-width: 1450px) {
  .AuthHeader {
    font-size: 4vmin;
  }
}
