.AuthCardContainer {
  margin-bottom: 80px;
}

.AuthHeader {
  display: flex;
  justify-content: center;
  text-align: center;
}

.LoginOrSignUp {
  text-align: center;
  margin: 30px 0px -20px 0px;
}
