.CreateRoomContainer {
  padding: 25vmin 25vmin 15vmin 25vmin;
  border: 0.5vmin solid var(--tan-3);
  border-radius: 1vmin;
  margin-bottom: 10px;
}

.CardContainer {
  padding: 5vmin 8vmin 8vmin 8vmin;
  background-color: #d3c1ae;
  border: 0.1vmin solid var(--tan-3);
  border-radius: 1vmin;
}