.VotingRoomPageContainer {
  margin: 0vmin 25vmin 15vmin 25vmin;
  padding: 2vmin 2vmin 15vmin 2vmin;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.MoviesContainer {
  padding: 5vmin 0vmin 10vmin 0vmin;
  background-color: #d3c1ae;
  border: 0.1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

.MovieCardContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}