.HeaderContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.RecdMoviesGrid {
  margin-top: 2vmin;
  margin-bottom: 2vmin;
  border-radius: 2vmin;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0vmin;
  grid-row-gap: 5vmin;
  border-radius: 1.5vmin;
  border-width: 1vmin;
  height: 65vmin;
  width: fit-content;
}

.RecdMoviesContainer {
  display: grid;
  grid-template-columns: repeat(5, 0.75fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0vmin;
  grid-row-gap: 5vmin;
  border-style: solid;
  border-radius: 1vmin;
  border-color: aliceblue;
  padding: 2vmin;
  overflow-y: scroll;
}

.VotingFooter {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  margin-top: -2vmin;
}

.VotingScore {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 4vmin;
}

.VotingButtons {
  display: flex;
  flex-wrap: row wrap;
  justify-content: center;
  align-items: center;
  margin: -1.5vmin 1vmin 1vmin 1vmin;
}

.WiggleNumber {
  display: inline-block;
  -webkit-animation: jello-diagonal-2 0.75s both;
  animation: jello-diagonal-2 0.75s both;
}

.FlopNumber {
  display: inline-block;
  -webkit-animation: rotate-90-cw 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-90-cw 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media screen and (max-width: 1800px) {
  .RecdMoviesContainer {
    grid-template-columns: repeat(4, 0.5fr);
  }
}

@media screen and (max-width: 1450px) {
  .RecdMoviesContainer {
    grid-template-columns: repeat(3, 0.5fr);
  }
}

@media screen and (max-width: 1400px) {
  .RecommendedMoviesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1150px) {
  .RecdMoviesContainer {
    grid-template-columns: repeat(2, 0.5fr);
    grid-column-gap: 2vmin;
    grid-row-gap: 0vmin;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-21 13:45:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-diagonal-2
 * ----------------------------------------
 */

@-webkit-keyframes jello-diagonal-2 {
  0% {
    -webkit-transform: skew(0deg 0deg);
    transform: skew(0deg 0deg);
  }
  30% {
    -webkit-transform: skew(-25deg -25deg);
    transform: skew(-25deg -25deg);
  }
  40% {
    -webkit-transform: skew(15deg, 15deg);
    transform: skew(15deg, 15deg);
  }
  50% {
    -webkit-transform: skew(-15deg, -15deg);
    transform: skew(-15deg, -15deg);
  }
  65% {
    -webkit-transform: skew(5deg, 5deg);
    transform: skew(5deg, 5deg);
  }
  75% {
    -webkit-transform: skew(-5deg, -5deg);
    transform: skew(-5deg, -5deg);
  }
  100% {
    -webkit-transform: skew(0deg 0deg);
    transform: skew(0deg 0deg);
  }
}
@keyframes jello-diagonal-2 {
  0% {
    -webkit-transform: skew(0deg 0deg);
    transform: skew(0deg 0deg);
  }
  30% {
    -webkit-transform: skew(-25deg -25deg);
    transform: skew(-25deg -25deg);
  }
  40% {
    -webkit-transform: skew(15deg, 15deg);
    transform: skew(15deg, 15deg);
  }
  50% {
    -webkit-transform: skew(-15deg, -15deg);
    transform: skew(-15deg, -15deg);
  }
  65% {
    -webkit-transform: skew(5deg, 5deg);
    transform: skew(5deg, 5deg);
  }
  75% {
    -webkit-transform: skew(-5deg, -5deg);
    transform: skew(-5deg, -5deg);
  }
  100% {
    -webkit-transform: skew(0deg 0deg);
    transform: skew(0deg 0deg);
  }
}

@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
