.EnterRoom {
  margin: 15vmin 0vmin -6vmin 0vmin;
  padding: 0vmin 5vmin 0vmin 5vmin;
  border-radius: 1vmin;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.RoomCodeCardContainer {
  padding: 0vmin 4vmin 3vmin 4vmin;
  background-color: #e6efd7;
  border: 0.5vmin solid var(--olive);
  border-radius: 1vmin;
}

.RoomCodeFormContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.RoomCodeForm {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.RoomCodeText {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 2vmin;
  margin-bottom: 3vmin;
}

.RoomCodeInput::placeholder {
  font-size: 2vmin;
}

@media screen and (max-width: 1450px) {
  .RoomCodeCardContainer {
    margin: -3vmin 0vmin 0vmin -10vmin;
    padding-bottom: 0vmin;
  }
  .RoomCodeInput::placeholder {
    font-size: 1.75vmin;
  }
}

@media screen and (max-width: 1200px) {
  .RoomCodeCardContainer {
    margin-top: -12vmin;
    margin-left: 1vmin;
  }
}

@media screen and (max-width: 1050px) {
  .RoomCodeCardContainer {
    margin-left: 0vmin;
  }
}