.EnterRoom {
  padding: 2vmin 15vmin 2vmin 15vmin;
  background-color: #ffffff;
  border: 0.1vmin solid var(--tan-3);
  border-radius: 1vmin;
  margin-bottom: 10px;
}

.CardContainer {
  padding: 3vmin 8vmin 3vmin 8vmin;
  background-color: #d3c1ae;
  border: 0.1vmin solid var(--tan-3);
  border-radius: 1vmin;
  text-align: center;
}

.RoomCodeForm {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  padding: 3vmin;
  background-color: #D3C1AE;
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}