.RoomPageContainer {
  margin: 22vmin 10vmin -10vmin -5vmin;
  margin-right: -10vmin;
  margin-bottom: 10vmin;
  padding: 0vmin 5vmin 0vmin 5vmin;
  border-radius: 1vmin;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.RoomCardContainer {
  padding: 5vmin;
  background-color: var(--lightbrown);
  border: 0.1vmin groove var(--lightgreen);
  border-radius: 1vmin;
}

.RoomCodeFormContainer {
  margin: 0vmin -12vmin 0vmin -12vmin;
}

.EnterRoomForm {
  display: grid;
  grid-template-rows: 0.75fr 0.5fr 0.75fr;
  grid-template-columns: 1fr;
  column-gap: 0vmin;
}
.RoomCodeInput {
  margin: -3vmin 20vmin 0vmin 20vmin;
}

.RoomCodeSubmit {
  margin: 3vmin 18vmin 1vmin 18vmin;
  padding: 2vmin 1vmin 2vmin 1vmin;
}

.RoomCodeInput::placeholder {
  font-size: 2.25vmin;
}

@media screen and (max-width: 1450px) {
  .RoomCardContainer {
    margin: 0vmin;
    padding: 0vmin 4vmin 2vmin 4vmin;
  }
  .EnterRoomForm {
    margin-top: 0vmin;
  }
}

@media screen and (max-width: 1200px) {
  .RoomPageContainer {
    margin-top: -5vmin;
  }
  .RoomCardContainer {
    margin-left: -5vmin;
  }
}
