.NavBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3px;
}

.NavText {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}