.RoomPageContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.RoomCardContainer {
  border-radius: 1vmin;
}

.SectionContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10vmin;
}

.CodeCard {
  color: white;
  max-width: 100%;
  margin-top: 16vmin;
  padding: 0.5vmin 5vmin 0.5vmin 5vmin;
  border-radius: 1.5vmin;
  border-width: 0.25vmin;
  border-style: solid;
  border-color: aliceblue;
  overflow-x: hidden;
}

@media screen and (max-width: 1828px) {
  .CodeCard {
    margin-top: 5vmin;
    margin-bottom: 5vmin;
  }
  .SelectMovie {
    margin-top: 0vmin;
  }
}

@media screen and (max-width: 1200px) {
  .MoviesSection {
    flex-wrap: column wrap;
    justify-content: center;
    align-items: center;
  }
  .MoviesContainer {
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: 1fr;
    padding: 2vmin 5vmin 2vmin 5vmin;
    width: fit-content;
  }
}

@media screen and (max-width: 950px) {
  .MoviesContainer {
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: 1fr;
    grid-row-gap: 0vmin;
    grid-column-gap: 2vmin;
    grid-column-end: auto;
  }
  .MoviePoster {
    height: 20vmin;
    width: 15vmin;
  }
  .RotatedMoviePoster {
    height: 20vmin;
    width: 15vmin;
  }
}
