.RoomPageContainer {
  margin: 0vmin 25vmin 5vmin 25vmin;
  padding: 2vmin;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.RoomCardContainer {
  border-radius: 1vmin;
}

.CodeCardContainer {
  margin: 2vmin 25vmin 2vmin 25vmin;
  color: white;
  padding: 0.5vmin;
  background-color: #788479;
  border-radius: 1.5vmin;
  border-width: 0.25vmin;
  border-style: solid;
  border-color:aliceblue;
}

.RoomTextContainer {
  text-align: center;
}

.MovieCardContainer {
  margin-top: 10vmin;
  margin-left: 15vmin;
  margin-right: 15vmin;
  padding: 5vmin;
  background-color: #6b9f6f;
  border-radius: 2vmin;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0vmin;
  grid-row-gap: 5vmin;
}

.MovieCard {
  max-height: 100vh;
  padding: 0vmin;
}

@media screen and (max-width: 1550px) {
  .RoomPageContainer {
    margin-left: 5vmin;
    margin-right: 5vmin;
  }
  .RoomCardContainer {
    padding: 5vmin 10vmin 5vmin 10vmin;
  }
  .CodeCardContainer {
    padding: 1vmin 3vmin 1vmin 3vmin;
  }
  .MovieCardContainer {
    margin-left: 5vmin;
    margin-right: 5vmin;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
  }
}

@media screen and (max-width: 1000px) {
  .MovieCardContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .RoomCardContainer {
    margin: 0vmin 10vmin 0vmin 10vmin;
    padding: 2vmin 0vmin 0vmin 0vmin;
  }
}