/* Imported Fonts */

@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Gloock&family=Joti+One&display=swap');

/* CUSTOM COLOR PALETTE */

:root {
  --beige: #e3daba;
  --lightblue: #e6efd7;
  --lightgreen: #dde5b6;
  --olive: #8b956d;
  --lightbrown: #fce0bc;
  --darkbrown: #d6b199;
  --orange: #edc6a8;
  --text-light: #e3c8b2;
  --text-dark: #615954;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(162, 173, 162);
  padding: 2vmin;
  height: 100vh;
  color: var(--text-dark);
}

/* CONTAINERS */

.BodyContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vmin;
}

.PageContainer {
  padding: 6vmin 0vmin 0vmin 0vmin;
  border-radius: 1vmin;
  margin-bottom: 10px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CardContainer {
  padding: 2vmin 5vmin 3vmin 5vmin;
  background-color: var(--lightblue);
  border: 0.5vmin solid var(--lightgreen);
  border-radius: 1vmin;
}

/* HEADERS */

h1 {
  font-family: 'Gloock', serif;
  font-size: 5vmin;
}

h2 {
  font-family: 'Gloock', serif;
  color: rgb(77, 63, 63);
  font-size: 5vmin;
}

h3 {
  font-family: 'Asul', sans-serif;
  font-size: 3vmin;
}

h4 {
  font-family: 'Glook', serif;
  font-size: 2.5vmin;
}

ul {
  padding-inline-start: 0px;
}

li {
  background-color: lightblue;
  list-style-type: none;
}

.BreakContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SectionBreak {
  height: 2px;
  width: 50vmin;
  background: var(--text-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

/* FORMS (FORM ELEMENTS, LABELS, INPUTS, BUTTONS) */

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vmin;
  color: var(--text-dark);
  margin-bottom: 10px;
}

label {
  margin-top: 0.5vmin;
  font-family: 'Asul', sans-serif;
  font-size: 3vmin;
  font-weight: bold;
}

input {
  margin-left: -5vmin;
  margin-right: 7vmin;
  padding: 1vmin;
  font-size: 2.5vmin;
  border: 0.1vmin solid var(--text-dark);
  border-radius: 0.5vmin;
  color: var(--text-dark);
  background-image: none !important;
  /* prevent lastpass */
  outline: none;
}

input::placeholder {
  font-family: 'Asul', sans-serif;
  font-size: 2vmin;
  text-align: center;
}

input:focus {
  border-color: var(--olive);
}

input:focus::placeholder {
  color: transparent;
}

button {
  font-family: 'Asul', sans-serif;
  margin: 1vmin 0vmin 1vmin 0vmin;
  padding: 1.5vmin;
  color: white;
  background-color: var(--olive);
  font-size: 2.15vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.1vmin solid var(--beige);
  border-radius: 1vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 2vmin;
  padding: 0.6vmin 0.8vmin;
}

button.btn-xs {
  font-size: 2vmin;
  padding: 0.4vmin 0.5vmin;
}

button:disabled,
form:invalid button[type='submit'] {
  cursor: not-allowed;
  background-color: var(--olive);
}

button[type='submit'] {
  grid-column: span 2;
  margin-bottom: 2vmin;
}

@media screen and (max-width: 1450px) {
  .BodyContainer {
    margin: 0vmin;
  }
  .PageContainer {
    padding: 2vmin 0vmin 0vmin 0vmin;
  }
  .CardContainer {
    padding: 0vmin 5vmin 3vmin 5vmin;
  }
  h2 {
    font-size: 3vmin;
  }
  h3 {
    font-size: 2.5vmin;
  }
  form {
    grid-template-columns: 0.5fr 0.5fr;
  }
  label {
    font-size: 2.5vmin;
  }
  input {
    font-size: 2vmin;
  }
}
