/* Imported Fonts */

@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Gloock&family=Joti+One&display=swap');

/* CUSTOM COLOR PALETTE */

:root {
  --beige: #F0EAD2;
  --lightblue: #E6EFD7;
  --lightgreen: #DDE5B6;
  --olive: #8b956d;
  --lightbrown: #c39a7b;
  --darkbrown: #856550;
  --orange: #FCCD94;
  --text-light: #968c84;
  --text-dark: #615954;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--lightblue);
  padding: 2vmin;
  height: 100vh;
  color: var(--text-dark)
}

/* CONTAINERS */

.PageContainer {
  padding: 3vmin 30vmin 0vmin 30vmin;
  border: 0.5vmin solid black;
  border-radius: 1vmin;
  margin-bottom: 10px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CardContainer {
  padding: 5vmin 8vmin 8vmin 8vmin;
  background-color: var(--lightbrown);
  border: 0.1vmin solid var(--lightgreen);
  border-radius: 1vmin;
}

/* HEADERS */

h1 {
  font-family: 'Gloock', serif;
  font-size: 36px;
}

h2 {
  font-family: 'Joti One', cursive;
}

h3 {
  font-family: 'Asul', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

/* FORMS (FORM ELEMENTS, LABELS, INPUTS, BUTTONS) */

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vmin;
  color: var(--text-dark);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 0.5vmin 0vmin 0.5vmin 0vmin;
  font-size: 2vmin;
  border: 0.1vmin solid var(--lightbrown);
  border-radius: 0.5vmin;
  color: var(--text-dark);
  background-image: none !important;
  /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--olive);
}

button {
  margin: 1vmin 0vmin 1vmin 0vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.1vmin solid var(--beige);
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: 0.6vmin 0.8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: 0.4vmin 0.5vmin;
}

button:disabled,
form:invalid button[type='submit'] {
  cursor: not-allowed;
  background-color: var(--orange);
}

button[type='submit'] {
  grid-column: span 2;
}